/* - Font (from list)
- Button colors and appearance (width, border, etc)
- Wrap a div arount the HTML, add a max width */

* {
   box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    background: rgb(122, 188, 241);
    padding-top: 50px;
}

.container {
    background: rgb(221, 221, 221);
    max-width: 80%;
    margin: auto;
    border: 2px solid black;
    border-radius: 20px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 10px 0;
    color: black;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#plus-btn {
    background: rgb(99, 255, 99);
}

#minus-btn {
    background: rgb(255, 98, 98);
}

#save-btn {
    background: rgb(85, 117, 255);
    display: block;
    margin: auto;
}